.fluid-span-1 {
  width: -1.475%;
}

.fluid-span-2 {
  width: -0.45%;
}

.fluid-span-3 {
  width: 0.575%;
}

.fluid-span-4 {
  width: 1.6%;
}

.fluid-span-5 {
  width: 2.625%;
}

.fluid-span-6 {
  width: 3.65%;
}

.fluid-span-7 {
  width: 4.675%;
}

.fluid-span-8 {
  width: 5.7%;
}

.fluid-span-9 {
  width: 6.725%;
}

.fluid-span-10 {
  width: 7.75%;
}

.fluid-span-11 {
  width: 8.775%;
}

.fluid-span-12 {
  width: 9.8%;
}

.fluid-span-13 {
  width: 10.825%;
}

.fluid-span-14 {
  width: 11.85%;
}

.fluid-span-15 {
  width: 12.875%;
}

.fluid-span-16 {
  width: 13.9%;
}

.fluid-span-17 {
  width: 14.925%;
}

.fluid-span-18 {
  width: 15.95%;
}

.fluid-span-19 {
  width: 16.975%;
}

.fluid-span-20 {
  width: 18%;
}

.fluid-span-21 {
  width: 19.025%;
}

.fluid-span-22 {
  width: 20.05%;
}

.fluid-span-23 {
  width: 21.075%;
}

.fluid-span-24 {
  width: 22.1%;
}

.fluid-span-25 {
  width: 23.125%;
}

.fluid-span-26 {
  width: 24.15%;
}

.fluid-span-27 {
  width: 25.175%;
}

.fluid-span-28 {
  width: 26.2%;
}

.fluid-span-29 {
  width: 27.225%;
}

.fluid-span-30 {
  width: 28.25%;
}

.fluid-span-31 {
  width: 29.275%;
}

.fluid-span-32 {
  width: 30.3%;
}

.fluid-span-33 {
  width: 31.325%;
}

.fluid-span-34 {
  width: 32.35%;
}

.fluid-span-35 {
  width: 33.375%;
}

.fluid-span-36 {
  width: 34.4%;
}

.fluid-span-37 {
  width: 35.425%;
}

.fluid-span-38 {
  width: 36.45%;
}

.fluid-span-39 {
  width: 37.475%;
}

.fluid-span-40 {
  width: 38.5%;
}

.fluid-span-41 {
  width: 39.525%;
}

.fluid-span-42 {
  width: 40.55%;
}

.fluid-span-43 {
  width: 41.575%;
}

.fluid-span-44 {
  width: 42.6%;
}

.fluid-span-45 {
  width: 43.625%;
}

.fluid-span-46 {
  width: 44.65%;
}

.fluid-span-47 {
  width: 45.675%;
}

.fluid-span-48 {
  width: 46.7%;
}

.fluid-span-49 {
  width: 47.725%;
}

.fluid-span-50 {
  width: 48.75%;
}

.fluid-span-51 {
  width: 49.775%;
}

.fluid-span-52 {
  width: 50.8%;
}

.fluid-span-53 {
  width: 51.825%;
}

.fluid-span-54 {
  width: 52.85%;
}

.fluid-span-55 {
  width: 53.875%;
}

.fluid-span-56 {
  width: 54.9%;
}

.fluid-span-57 {
  width: 55.925%;
}

.fluid-span-58 {
  width: 56.95%;
}

.fluid-span-59 {
  width: 57.975%;
}

.fluid-span-60 {
  width: 59%;
}

.fluid-span-61 {
  width: 60.025%;
}

.fluid-span-62 {
  width: 61.05%;
}

.fluid-span-63 {
  width: 62.075%;
}

.fluid-span-64 {
  width: 63.1%;
}

.fluid-span-65 {
  width: 64.125%;
}

.fluid-span-66 {
  width: 65.15%;
}

.fluid-span-67 {
  width: 66.175%;
}

.fluid-span-68 {
  width: 67.2%;
}

.fluid-span-69 {
  width: 68.225%;
}

.fluid-span-70 {
  width: 69.25%;
}

.fluid-span-71 {
  width: 70.275%;
}

.fluid-span-72 {
  width: 71.3%;
}

.fluid-span-73 {
  width: 72.325%;
}

.fluid-span-74 {
  width: 73.35%;
}

.fluid-span-75 {
  width: 74.375%;
}

.fluid-span-76 {
  width: 75.4%;
}

.fluid-span-77 {
  width: 76.425%;
}

.fluid-span-78 {
  width: 77.45%;
}

.fluid-span-79 {
  width: 78.475%;
}

.fluid-span-80 {
  width: 79.5%;
}

.fluid-span-81 {
  width: 80.525%;
}

.fluid-span-82 {
  width: 81.55%;
}

.fluid-span-83 {
  width: 82.575%;
}

.fluid-span-84 {
  width: 83.6%;
}

.fluid-span-85 {
  width: 84.625%;
}

.fluid-span-86 {
  width: 85.65%;
}

.fluid-span-87 {
  width: 86.675%;
}

.fluid-span-88 {
  width: 87.7%;
}

.fluid-span-89 {
  width: 88.725%;
}

.fluid-span-90 {
  width: 89.75%;
}

.fluid-span-91 {
  width: 90.775%;
}

.fluid-span-92 {
  width: 91.8%;
}

.fluid-span-93 {
  width: 92.825%;
}

.fluid-span-94 {
  width: 93.85%;
}

.fluid-span-95 {
  width: 94.875%;
}

.fluid-span-96 {
  width: 95.9%;
}

.fluid-span-97 {
  width: 96.925%;
}

.fluid-span-98 {
  width: 97.95%;
}

.fluid-span-99 {
  width: 98.975%;
}

.fluid-span-100 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 1.025%;
}

.fluid-offset-2 {
  margin-left: 2.05%;
}

.fluid-offset-3 {
  margin-left: 3.075%;
}

.fluid-offset-4 {
  margin-left: 4.1%;
}

.fluid-offset-5 {
  margin-left: 5.125%;
}

.fluid-offset-6 {
  margin-left: 6.15%;
}

.fluid-offset-7 {
  margin-left: 7.175%;
}

.fluid-offset-8 {
  margin-left: 8.2%;
}

.fluid-offset-9 {
  margin-left: 9.225%;
}

.fluid-offset-10 {
  margin-left: 10.25%;
}

.fluid-offset-11 {
  margin-left: 11.275%;
}

.fluid-offset-12 {
  margin-left: 12.3%;
}

.fluid-offset-13 {
  margin-left: 13.325%;
}

.fluid-offset-14 {
  margin-left: 14.35%;
}

.fluid-offset-15 {
  margin-left: 15.375%;
}

.fluid-offset-16 {
  margin-left: 16.4%;
}

.fluid-offset-17 {
  margin-left: 17.425%;
}

.fluid-offset-18 {
  margin-left: 18.45%;
}

.fluid-offset-19 {
  margin-left: 19.475%;
}

.fluid-offset-20 {
  margin-left: 20.5%;
}

.fluid-offset-21 {
  margin-left: 21.525%;
}

.fluid-offset-22 {
  margin-left: 22.55%;
}

.fluid-offset-23 {
  margin-left: 23.575%;
}

.fluid-offset-24 {
  margin-left: 24.6%;
}

.fluid-offset-25 {
  margin-left: 25.625%;
}

.fluid-offset-26 {
  margin-left: 26.65%;
}

.fluid-offset-27 {
  margin-left: 27.675%;
}

.fluid-offset-28 {
  margin-left: 28.7%;
}

.fluid-offset-29 {
  margin-left: 29.725%;
}

.fluid-offset-30 {
  margin-left: 30.75%;
}

.fluid-offset-31 {
  margin-left: 31.775%;
}

.fluid-offset-32 {
  margin-left: 32.8%;
}

.fluid-offset-33 {
  margin-left: 33.825%;
}

.fluid-offset-34 {
  margin-left: 34.85%;
}

.fluid-offset-35 {
  margin-left: 35.875%;
}

.fluid-offset-36 {
  margin-left: 36.9%;
}

.fluid-offset-37 {
  margin-left: 37.925%;
}

.fluid-offset-38 {
  margin-left: 38.95%;
}

.fluid-offset-39 {
  margin-left: 39.975%;
}

.fluid-offset-40 {
  margin-left: 41%;
}

.fluid-offset-41 {
  margin-left: 42.025%;
}

.fluid-offset-42 {
  margin-left: 43.05%;
}

.fluid-offset-43 {
  margin-left: 44.075%;
}

.fluid-offset-44 {
  margin-left: 45.1%;
}

.fluid-offset-45 {
  margin-left: 46.125%;
}

.fluid-offset-46 {
  margin-left: 47.15%;
}

.fluid-offset-47 {
  margin-left: 48.175%;
}

.fluid-offset-48 {
  margin-left: 49.2%;
}

.fluid-offset-49 {
  margin-left: 50.225%;
}

.fluid-offset-50 {
  margin-left: 51.25%;
}

.fluid-offset-51 {
  margin-left: 52.275%;
}

.fluid-offset-52 {
  margin-left: 53.3%;
}

.fluid-offset-53 {
  margin-left: 54.325%;
}

.fluid-offset-54 {
  margin-left: 55.35%;
}

.fluid-offset-55 {
  margin-left: 56.375%;
}

.fluid-offset-56 {
  margin-left: 57.4%;
}

.fluid-offset-57 {
  margin-left: 58.425%;
}

.fluid-offset-58 {
  margin-left: 59.45%;
}

.fluid-offset-59 {
  margin-left: 60.475%;
}

.fluid-offset-60 {
  margin-left: 61.5%;
}

.fluid-offset-61 {
  margin-left: 62.525%;
}

.fluid-offset-62 {
  margin-left: 63.55%;
}

.fluid-offset-63 {
  margin-left: 64.575%;
}

.fluid-offset-64 {
  margin-left: 65.6%;
}

.fluid-offset-65 {
  margin-left: 66.625%;
}

.fluid-offset-66 {
  margin-left: 67.65%;
}

.fluid-offset-67 {
  margin-left: 68.675%;
}

.fluid-offset-68 {
  margin-left: 69.7%;
}

.fluid-offset-69 {
  margin-left: 70.725%;
}

.fluid-offset-70 {
  margin-left: 71.75%;
}

.fluid-offset-71 {
  margin-left: 72.775%;
}

.fluid-offset-72 {
  margin-left: 73.8%;
}

.fluid-offset-73 {
  margin-left: 74.825%;
}

.fluid-offset-74 {
  margin-left: 75.85%;
}

.fluid-offset-75 {
  margin-left: 76.875%;
}

.fluid-offset-76 {
  margin-left: 77.9%;
}

.fluid-offset-77 {
  margin-left: 78.925%;
}

.fluid-offset-78 {
  margin-left: 79.95%;
}

.fluid-offset-79 {
  margin-left: 80.975%;
}

.fluid-offset-80 {
  margin-left: 82%;
}

.fluid-offset-81 {
  margin-left: 83.025%;
}

.fluid-offset-82 {
  margin-left: 84.05%;
}

.fluid-offset-83 {
  margin-left: 85.075%;
}

.fluid-offset-84 {
  margin-left: 86.1%;
}

.fluid-offset-85 {
  margin-left: 87.125%;
}

.fluid-offset-86 {
  margin-left: 88.15%;
}

.fluid-offset-87 {
  margin-left: 89.175%;
}

.fluid-offset-88 {
  margin-left: 90.2%;
}

.fluid-offset-89 {
  margin-left: 91.225%;
}

.fluid-offset-90 {
  margin-left: 92.25%;
}

.fluid-offset-91 {
  margin-left: 93.275%;
}

.fluid-offset-92 {
  margin-left: 94.3%;
}

.fluid-offset-93 {
  margin-left: 95.325%;
}

.fluid-offset-94 {
  margin-left: 96.35%;
}

.fluid-offset-95 {
  margin-left: 97.375%;
}

.fluid-offset-96 {
  margin-left: 98.4%;
}

.fluid-offset-97 {
  margin-left: 99.425%;
}

.fluid-offset-98 {
  margin-left: 100.45%;
}

.fluid-offset-99 {
  margin-left: 101.475%;
}

